body {
    background-image: url(https://img.freepik.com/free-photo/computer-program-coding-screen_53876-138060.jpg?t=st=1718937876~exp=1718941476~hmac=d7cfc72e53c4a78218fe1bde57eebbf6be193f4dafc8e786207fcd45a467df6f&w=900);
    background-size: cover;
  }
  

  .header {
    padding: 5px;
    font-size: 1px;
  }

  img{
    border-radius: 25%;

  }

  .box{  
  	width: 800px;
 	  height: 600px; 
    background-color: white;
}

  .header{
    width: 638px;
    height: 40px;
    background-color: rgb(44, 45, 46);

  }