body {
    background-image: url("backround_code.png");
    background-size: cover;
  }
  

  .header {
    padding: 5px;
    font-size: 1px;
  }

  img{
    border-radius: 25%;

  }

  .box{  
  	width: 800px;
 	  height: 600px; 
    background-color: white;
}

  .header{
    width: 638px;
    height: 40px;
    background-color: rgb(44, 45, 46);

  }